@{
    ViewBag.Title = "About";
}
<h2>About.</h2>
<h3>Ignis is a Latin word meaning ‘Fire’. The project aims to automate the maintenance of the department’s records, provide visualization for data.</h3>

