@{
    ViewBag.Title = "Contact";
}
<h2>Contact.</h2>
<h3>Aikya Software Wing</h3>

<address>
    Dr.Vishnuvardhan Road<br />
    Rajarajeshwarinagar, Channasandra<br />
    Bengaluru, Karnataka 560098 <br/>
    <abbr title="Phone">M:</abbr>
    +91.90363.32656
</address>

<address>
    <strong>Karthik Hegde:</strong>   <a href="mailto:hegde89@gmail.com">hegde89@gmail.com</a><br />
</address>